li{list-style:none;}
li.selected {background:brown}
ul#padiDropDown{
	position: relative;
	left:-35px;
	top:-10px;
}
.padiDropDownCloser{
	text-align:center;
	width: 20px;
	right: 10px;
	position:absolute;
	cursor:pointer;
}
.padiDropDownCloser:hover{
	background: red;
	width: 20px;
	text-align: center;
	color: white;
}
ul#result{
	position: absolute;
	left:500px;
	top:20px;
}
ul#result li{
	border: 1px solid blue;
	background: skyblue;
	color:green;
	padding: 5px 50px 5px 5px;
}
ul#result li:hover{
	border: 1px solid brown;
	padding: 5px 50px 5px 5px;
	background: yellow;
	color:red;
}
